html {
  font-size: 18px;
  line-height: 1.6;
}

body {
  font-size: inherit;
  line-height: inherit;
}

a {
  @apply underline;
  @apply text-oceanBlue;

  &:hover {
    @apply no-underline;
  }
}

li {
  @apply text-base;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  @apply m-0 p-0;
}

p {
  font-size: inherit;
  line-height: inherit;
  @apply m-0 p-0 mb-2;
}

td.td-string {
  @apply text-left;
}

td.td-number {
  @apply text-right;
}

.secondary-nav__item {
  font-size: 14px;
}
