{% extends "src/layouts/prototype.njk" %}

{% block body %}
    <div class="wrapper mb-8">
        {% include "breadcrumbs.njk" %}

        <header class="mb-8">
            <h1 class="mb-1 p-0 text-3xl font-bold">{{area.name}}</h1>
        </header>

        <div class="mb-16" id="areas">
            <h2 class="text-md font-bold mb-2">Areas within {{area.name}}</h2>

            {% if area.children | length %}
                <ul class="list-none text-base leading-relaxed m-0 p-0">
                    {% for child in area.children %}
                        <li class="m-0 p-0">
                            <a href="{{child.permalink}}" class="text-base">{{child.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="border-2 border-mercury p-4 mt-4">
                    <span class="">No data for countries found. Please run</span>
                    <code class="bg-alabaster p-2 ml-1">yarn geo:fetch</code>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock body %}